body {
 	background-color: black;
}

div {
	color: white;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	padding: 10px 20px 20px 20px;
}


#div{
	color: black;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -ms-text-shadow: 1px 1px 2px black;
    -o-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
}

#paragraph{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

section {
	background-color: white;
	padding: 20px 20px 20px 20px;
	height: 450px;
	width: 800px;
	margin: 0 auto;
	
}

#section2 {
	background-color: white;	
	padding: 20px 20px 20px 20px;
	padding-left: 95px;
	height: 420px;
	width: 800px;
}


#section3 {
	background-color: white;
	padding: 20px 20px 20px 20px;
	height: 900px;
	width: 800px;
	text-shadow: 1px 1px 2px #FF00FF;
    -moz-text-shadow: 1px 1px 2px #FF00FF;
    -ms-text-shadow: 1px 1px 2px #FF00FF;
    -o-text-shadow: 1px 1px 2px #FF00FF;
    -webkit-text-shadow: 1px 1px 2px #FF00FF;
}

img{
	padding: 20px 20px 20px 20px;
	position: relative;
    left: -38px;
}

#project{
	padding-top: 25px;
}
