body {
 	background-image: url(http://fc05.deviantart.net/fs70/f/2013/329/1/c/band_collage_by_imightbeapanda-d6vmqig.png);
 	background-attachment: fixed;
}

div {
	color: white;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	padding: 10px 20px 20px 20px;
}

.modal-content{
	color: black;
}


#div{
	font-family: 'Limelight', cursive;
	color: black;
	text-align: center;
	font-size: 50px;
	text-shadow: 1px 1px 2px white;
    -moz-text-shadow: 1px 1px 2px white;
    -ms-text-shadow: 1px 1px 2px white;
    -o-text-shadow: 1px 1px 2px white;
    -webkit-text-shadow: 1px 1px 2px white;
}

#paragraph{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
}

#title{
	font-family: 'Nosifer', cursive;
	font-size: 60px;
	color: white;
	text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 70px black, 0 0 80px black, 0 0 100px black, 0 0 150px black;
}

section {
	background-color: white;
	padding: 20px 20px 20px 20px;
	height: 450px;
	width: 800px;
	margin: 0 auto;	
}

#section2 {
	background-color: white;	
	padding: 20px 20px 20px 20px;
	padding-left: 95px;
	height: 520px;
	width: 800px;
}

#section3 {
	background-color: white;
	padding: 20px 20px 20px 20px;
	height: 1010px;
	width: 800px;
	text-shadow: 1px 1px 2px #FF00FF;
    -moz-text-shadow: 1px 1px 2px #FF00FF;
    -ms-text-shadow: 1px 1px 2px #FF00FF;
    -o-text-shadow: 1px 1px 2px #FF00FF;
    -webkit-text-shadow: 1px 1px 2px #FF00FF;
}

img{
	padding: 14px;
	position: relative;
    left: -19px;
}

#project{
	padding-bottom: 30px;
}

#img1{
	position: relative;
    left: -5px;
}

footer{
	background-color: white;
	margin: 0 auto;	
	height: 50px;
	width: 800px;
}
 
.modal-content{
	font-size: 20px;
}

header{
	text-align: center;
	font-size: 35px;
	background-color: white;
	width: 800px;
	margin: 0 auto;
	word-spacing: 30px;
	font-family: 'Quicksand', sans-serif;
}

#p{
	word-spacing: 200px;
}

.social { width: 250px; text-align: center; margin: 0 auto; float: right; padding-left: 60px }

.social ul, li { float: left; display: inline-block; list-style: none; }
.social li a { display: block; width: 50px; height: 47px; border: 3px solid #444; color: #444; text-decoration: none; font-weight: bold; font-size: 35px; border-radius: 50px; padding: 3px 0 0 0; margin: 0 10px 0 0; -moz-transition: 0.3s linear; -webkit-transition: 0.3s linear; }
.social li.twitter a:hover { color: #66ccff; border: 3px solid #66ccff; -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); }
.social li.facebook a:hover { color: #000077; border: 3px solid #000077; -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {	
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

@media only screen and (min-width: 0px) and (max-width: 767px) { #mainBG { background: url(images/small.jpg) 75% 80% no-repeat scroll !important; background-position:center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; } }